@font-face {
  font-family: WorkSans;
  font-weight: 400;
  src: url('../assets/fonts/WorkSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: WorkSans;
  font-weight: 500;
  src: url('../assets/fonts/WorkSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: WorkSans;
  font-weight: 600;
  src: url('../assets/fonts/WorkSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: WorkSans;
  font-weight: 700;
  src: url('../assets/fonts/WorkSans-Bold.ttf') format('truetype');
}