html {
  font-size: 100%;
  font-family: 'Work Sans', sans-serif;
}

:root {
  --headline-1-fnt-size: #{64/16 + rem};
  --headline-1-fnt-spacing: -0.5px;
  --headline-1-fnt-weight: 300;
  --headline-1-fnt-transform: none;
  
  --headline-2-fnt-size: #{51/16 + rem};
  --headline-2-fnt-spacing: 0px;
  --headline-2-fnt-weight: 500;
  --headline-2-fnt-transform: none;
  
  --headline-3-fnt-size: #{36/16 + rem};
  --headline-3-fnt-spacing: 0.25px;
  --headline-3-fnt-weight: 500;
  --headline-3-fnt-transform: none;
  
  --headline-4-fnt-size: #{25/16 + rem};
  --headline-4-fnt-spacing: 0px;
  --headline-4-fnt-weight: 500;
  --headline-4-fnt-transform: none;
  
  --subtitle-1-fnt-size: #{17/16 + rem};
  --subtitle-1-fnt-spacing: 0.15px;
  --subtitle-1-fnt-weight: 500;
  --subtitle-1-fnt-transform: none;
  
  --subtitle-2-fnt-size: #{15/16 + rem};
  --subtitle-2-fnt-spacing: 0.1px;
  --subtitle-2-fnt-weight: 600;
  --subtitle-2-fnt-transform: none;
  
  --body-1-fnt-size: #{16/16 + rem};
  --body-1-fnt-spacing: 0.5px;
  --body-1-fnt-weight: 500;
  --body-1-fnt-transform: none;
  
  --body-2-fnt-size: #{15/16 + rem};
  --body-2-fnt-spacing: 0.25px;
  --body-2-fnt-weight: 500;
  --body-2-fnt-transform: none;
  
  --button-fnt-size: #{15/16 + rem};
  --button-fnt-spacing: 1.25px;
  --button-fnt-weight: 600;
  --button-fnt-transform: uppercase;
  
  --caption-fnt-size: #{13/16 + rem};
  --caption-fnt-spacing: 0.4px;
  --caption-fnt-weight: 500;
  --caption-fnt-transform: none;
}