:root {
  // naming convention
  /* 
    clr: color
    lt: light
    drk: dark
    bck: background
    fnt: font
  */

  // colors
  --clr-white: #F8F8F8;
  --clr-black: #000;

  $primary: #003E7F;
  --clr-primary: #{$primary};
  --clr-primary-lt: #{lighten($primary, 5%)};
  --clr-primary-drk: #{darken($primary, 5%)};

  $secondary: #C75629;
  --clr-secondary: #{$secondary};
  --clr-secondary-lt: #{lighten($secondary, 5%)};
  --clr-secondary-drk: #{darken($secondary, 5%)};

  // navbar
  --nav-height: 120px;

  // buttons
  --btn-padding: 1em 1.5em;
  --btn-boder: none;
  --btn-border-radius: 8px;
  --btn-bck-clr: var(--clr-secondary);
  --btn-bck-clr-hover: var(--clr-secondary-lt);
  --btn-bck-clr-click: var(--clr-secondary-drk);
  --btn-fnt-clr: var(--clr-ntrl-white);
}