//--- MODULES ---/
@import "./slick";
@import "./icons";


//--- GENERAL OVERWRITES ---//

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'WorkSans', sans-serif;
}

body {
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}