//--- MODULES ---/
@import "./slick";
@import "./icons";


//--- GENERAL OVERWRITES ---//

html {
  font-size: 100%;
  overflow-x: hidden;
  font-family: 'WorkSans', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

// remove number input arrows
// Chrome, Safari, Edge, Opera 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

// remove button defualt appearance
button {
  -webkit-appearance: none;
}